<form class="form-container" [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

  <mat-form-field hintLabel="Max 30 characters">
    <input matInput #input maxlength="30" formControlName="name" placeholder="Name">
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="url" placeholder="URL">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="memo" placeholder="Memo">
  </mat-form-field>

  <angular-file-uploader #imageUpload
    [config]="afuConfig" (ApiResponse)="afterImageUpload($event)">
  </angular-file-uploader>
    <img [src]="imageURL">


  <mat-form-field>
    <mat-select #selectedDatabase placeholder="Database">
      <mat-option *ngFor="let database of databases; let i = index" [value]="i">{{database.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="margin: 10px" formArrayName="databases">
    <ul *ngFor="let database of getDatabases().controls; let i = index">
      {{database.value.name}}
      <button type="button" mat-raised-button (click)="deleteDatabaseByIndex(i)">Delete</button>
      <br>
    </ul>
  </div>
  <button type="button" mat-raised-button (click)="addDatabaseByIndex(+selectedDatabase.value)">Add Database</button>

  <br>
  <br>

  <mat-form-field>
    <mat-select #selectedFramework placeholder="Framework">
      <mat-option *ngFor="let framework of frameworks; let i = index" [value]="i">{{framework.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="margin: 10px" formArrayName="frameworks">
    <ul *ngFor="let framework of getFrameworks().controls; let i = index">
      {{framework.value.name}}
      <button type="button" mat-raised-button (click)="deleteFrameworkByIndex(i)">Delete</button>
    </ul>
  </div>
  <button type="button" mat-raised-button (click)="addFrameworkByIndex(+selectedFramework.value)">Add Framework</button>

  <br>
  <br>

  <mat-form-field>
    <mat-select #selectedLanguage placeholder="Language">
      <mat-option *ngFor="let language of languages; let i = index" [value]="i">{{language.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="margin: 10px" formArrayName="languages">
    <ul *ngFor="let language of getLanguages().controls; let i = index">
      {{language.value.name}}
      <button type="button" mat-raised-button (click)="deleteLanguageByIndex(i)">Delete</button>
    </ul>
  </div>
  <button type="button" mat-raised-button (click)="addLanguageByIndex(+selectedLanguage.value)">Add Language</button>

  <br>
  <br>

  <mat-form-field>
    <mat-select #selectedLibrary placeholder="Library">
      <mat-option *ngFor="let library of libraries; let i = index" [value]="i">{{library.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="margin: 10px" formArrayName="libraries">
    <ul *ngFor="let library of getLibraries().controls; let i = index">
      {{library.value.name}}
      <button type="button" mat-raised-button (click)="deleteLibraryByIndex(i)">Delete</button>
    </ul>
  </div>
  <button type="button" mat-raised-button (click)="addLibraryByIndex(+selectedLanguage.value)">Add Library</button>


  <br>
  <button mat-raised-button type="submit" [disabled]="!resourceForm.valid">Save</button>

</form>

