<!--<div class="example-container">-->
  <!--<mat-form-field hintLabel="Max 30 characters">-->
    <!--<input matInput [(ngModel)]="resource.name"  #name=ngModel minlength="1" maxlength="30" placeholder="Name">-->
    <!--<mat-hint align="end">{{name.value?.length || 0}}/30</mat-hint>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field><input matInput [(ngModel)]="resource.url" #url placeholder="URL"></mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<mat-select [(value)]="selectedLanguage">-->
      <!--<li *ngFor="let language of languages">-->
        <!--<mat-option value="{{language.id}}">{{language.name}}</mat-option>-->
      <!--</li>-->
    <!--</mat-select>-->
    <!--<button  mat-button (click)="addLanguage()">Add language</button> <br>-->
  <!--</mat-form-field>-->
  <!--<mat-list role="list">-->
    <!--<li *ngFor="let language of resource.languages">-->
      <!--<mat-option value="{{language}}">{{language.name}}</mat-option>-->
    <!--</li>-->
  <!--</mat-list>-->
  <!--<button mat-button (click)="onEnter()">Submit</button>-->

<!--</div >-->

<!--<div *ngIf="!isValid"-->
     <!--class="alert alert-danger">-->
  <!--Name is required-->
<!--</div>-->

<button (click)="goBack()">Back</button>
<br><br>
<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

  <label>
    Name:
    <input type="text" formControlName="name" required>
  </label>
  <br>
  <label>
    URL:
    <input type="text" formControlName="url">
  </label>
<br>

  <h3>Databases</h3>
  <select #selectedDatabase>
    <option *ngFor="let database of databases; let i = index" [value]="i">{{database.name}}</option>
  </select>
  <br>
  <input type="button" (click)="addDatabaseByIndex(+selectedDatabase.value)" value="Add Database">

  <div formArrayName="databases">
    <div *ngFor="let database of getDatabases().controls">
      {{database.value.name}}
      <input type="button" (click)="deleteDatabaseByIndex(+selectedDatabase.value)" value="Delete Database">
    </div>
  </div>

  <h3>Frameworks</h3>
  <select #selectedFramework>
    <option *ngFor="let framework of frameworks; let i = index" [value]="i">{{framework.name}}</option>
  </select>
  <br>
  <input type="button" (click)="addFrameworkByIndex(+selectedFramework.value)" value="Add Framework">

  <div formArrayName="frameworks">
    <div *ngFor="let framework of getFrameworks().controls">
      {{framework.value.name}}
      <input type="button" (click)="deleteFrameworkByIndex(+selectedFramework.value)" value="Delete Framework">
    </div>
  </div>


  <h3>Languages</h3>
  <select #selectedLanguage>
      <option *ngFor="let language of languages; let i = index" [value]="i">{{language.name}}</option>
    </select>
    <br>
  <input type="button" (click)="addLanguageByIndex(+selectedLanguage.value)" value="Add Language">

  <div formArrayName="languages">
    <div *ngFor="let language of getLanguages().controls">
      {{language.value.name}}
      <input type="button" (click)="deleteLanguageByIndex(+selectedLanguage.value)" value="Delete Language">
    </div>
  </div>

  <h3>Libraries</h3>
  <select #selectedLibrary>
    <option *ngFor="let library of libraries; let i = index" [value]="i">{{library.name}}</option>
  </select>
  <br>
  <input type="button" (click)="addLibraryByIndex(+selectedLibrary.value)" value="Add Library">

  <div formArrayName="libraries">
    <div *ngFor="let library of getLibraries().controls">
      {{library.value.name}}
      <input type="button" (click)="deleteLibraryByIndex(+selectedLibrary.value)" value="Delete Library">
    </div>
  </div>




  <br>
  <br>
  <button type="submit" [disabled]="!resourceForm.valid">Submit</button>
</form>

